body {
    margin: 0px;
    padding: 0px;
    /* background: url('photo.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    overflow: auto;
}

img {
    width: 100%;
    height: 1200px;
}

.navbar {
    background-color: white;
    /* position:sticky; */
    /* border: 2px solid red; */
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

.heading {
    float: left;
    margin: -11px -20px;
    /* border:2px solid red; */
}

.navbar li {
    display: inline-block;
    list-style: none;
    /* float:right; */
    margin: 10px 30px;
}

.lists {
    /* border: 2px solid red; */
    display: inline-block;
    float: right;
    margin-inline-end: 5%;
}

.navbar li a {
    text-decoration: none;
    color: black;
    /* border: 2px solid red; */
}

.project {
    text-align: center;
    margin-top: 100px;
}

.contact {
    text-align: center;
    /* background-color: rgb(128, 128, 128); */
    margin-top: 100px;
}

input[type='text'] {
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.179);
    display: block;
    width: 95%;
    margin: 20px;
}

input[type='button'] {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: black;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(48, 48, 48);
}

.image1 {
    /* border: 2px solid red; */
    /* width: 200px;
   height: 200px; */
    /* box-sizing:initial; */
    /* margin: 20px; */
    /* padding-left: 50px; */
    /* display: inline-flex; */
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(0, 0, 0, 0.351);
    height: 250px;
    width: 320px;
}

.image2 {
    margin-top: 30px;
    max-width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.images2 {
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(0, 0, 0, 0.351);
    height: 250px;
    width: 320px;
}

footer {
    margin-top: 100px;
    height: 50px;
    background-color: darkgray;
}

.footer {
    color: white;
    text-align: center;
    padding-top: 10px;
}